$color : #108db8;
$white : #fff;

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url(./assets/fonts/gotham-fonts/Gotham-Black.woff) format('woff');
}

body {
  font-family: 'Gotham-Black', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px !important;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: $color;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}





